*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}
#nav>article{
    height: 80px;
    width: 75%;
    display: flex;
}
#nav>article>.logo{
    height: 80px;
    width: 50%;
    display: flex;
    align-items: center;
}
#nav>article>.logo>svg{
    width: 23%;
    fill: white;
}
#nav>article>.menu{
    height: 80px;
    width: 50%;
}
#nav>article>.menu>ol{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
#nav>article>.menu>ol>li>a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}
#nav>article>.menu>ol>li>a:hover{
    color:green;
}
#home{
    height: 81vh;
    width:100%;
    background: url(./asserts/bubbles-dktp.svg)  center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    display: flex;
    justify-content: center;
    align-items: end;
}

#home>article{
    height: 85%;
    width: 70%;
    display: flex;
}
#home>article>.mobile{
    height: 100%;
    width: 40%;
   
    display: flex;

}
/* #home>article>.mobile>.div1{
    height: 100%;
    width: 100%;
    margin-top: 10px;
    margin-left: 20px;
    
} */
#home>article>.mobile>.div1>svg{
    height: 110%;
    width: 120%;
    margin-top: 10px;
    margin-left: 20px;
}
#home>article>.mobile>.div2{
    height: 100%;
    width: 50%;
    position: relative;
    right:210px;
    display: flex;
    align-items: end;
}
#home>article>.mobile>.div2>img{
    height: 87%;
    width: 147%;
}
#home>article>.content{
    height: 100%;
    width: 60%;
    
}
#home>article>.content>h1{
    font-family: Helvetica,Arial,sans-serif;
    color: white;
    font-size: 50px;
    margin-top: 80px;
    letter-spacing: -3px;
}
#home>article>.content>button{
    height: 45px;
    width: 190px;
    border-radius: 50px;
    border: none;
    margin-top: 30px;
    font-weight: bold;
}
#home>article>.content>button:hover{
    cursor: pointer;
    transform: scale(1.03);
}
#section2{
    height:80vh;
    width: 100%;
}
#section2>.top{
    height:30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section2>.top>h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
#section2>.bottom{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
}
#section2>.bottom>.inside{
    height: 100%;
    width: 75%;
    display: flex;
}
#section2>.bottom>.inside>.a{
    height: 100%;
    width: 25%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#section2>.bottom>.inside>.a>img{
    margin-top: 10px;
    height: 35%;
}
#section2>.bottom>.inside>.a>h1{
    margin-top: 40px;
    font-size: large;
    font-weight: bold;
}
#section2>.bottom>.inside>.a>h6{
    margin-top: 15px;
    font-size: medium;
    font-weight: normal;
}
#section2>.bottom>.inside>.b{
    height: 100%;
    width: 25%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#section2>.bottom>.inside>.b>img{
    margin-top: 10px;
    height: 35%;
}
#section2>.bottom>.inside>.b>h1{
    margin-top: 40px;
    font-size: large;
    font-weight: bold;
}
#section2>.bottom>.inside>.b>h6{
    margin-top: 15px;
    font-size: medium;
    font-weight: normal;
}
#section2>.bottom>.inside>.c{
    height: 100%;
    width: 25%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#section2>.bottom>.inside>.c>img{
    
    height: 35%;
}
#section2>.bottom>.inside>.c>h1{
    margin-top: 40px;
    font-size: large;
    font-weight: bold;
}
#section2>.bottom>.inside>.c>h6{
    margin-top: 15px;
    font-size: medium;
    font-weight: normal;
}
#section2>.bottom>.inside>.d{
    height: 100%;
    width: 25%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#section2>.bottom>.inside>.d>img{
    /* margin-top: 10px; */
    height: 35%;
}
#section2>.bottom>.inside>.d>h1{
    margin-top: 40px;
    font-size: large;
    font-weight: bold;
}
#section2>.bottom>.inside>.d>h6{
    margin-top: 15px;
    font-size: medium;
    font-weight: normal;
}
#section3{
    height: 65vh;
    width: 100%;
    background: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
    display: flex;
    align-items: center;
    justify-content: center;

}
#section3>h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 47px;
}
#section4{
    height: 80vh;
    width: 100%;
}
#section4>.top{
    height: 30%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section4>.top>h1{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 40px;
}
#section4>.down{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section4>.down>.inside{
    height: 100%;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
}
#section4>.down>.inside>.a{
    height: 20%;
    width: 100%;
    border-bottom: 1px solid grey;
}
#section4>.down>.inside>.a:hover{
    cursor: pointer;
    text-decoration: underline;
    background-color: #f0f0f0;
}
#section4>.down>.inside>.a>h3{
    padding-top: 30px;
}
#section4>.down>.inside>.b{
    height: 20%;
    width: 100%;
    border-bottom: 1px solid grey;
}
#section4>.down>.inside>.b:hover{
    cursor: pointer;
    text-decoration: underline;
    background-color: #f0f0f0;
}
#section4>.down>.inside>.b>h3{
    padding-top: 30px;
}
#section4>.down>.inside>.c{
    height: 20%;
    width: 100%;
    border-bottom: 1px solid grey;
}
#section4>.down>.inside>.c:hover{
    cursor: pointer;
    text-decoration: underline;
    background-color: #f0f0f0;
}
#section4>.down>.inside>.c>h3{
    padding-top: 30px;
}
#section4>.down>.inside>.d{
    height: 20%;
    width: 100%;
}
#section4>.down>.inside>.d:hover{
    cursor: pointer;
    text-decoration: underline;
    background-color: #f0f0f0;
}
#section4>.down>.inside>.d>h3{
    padding-top: 30px;
}
#section5{
    height: 60vh;
    width: 100%;
    background: url("./asserts/lets-play.svg") left -10px bottom -160px / 100% 1114px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) 16%, rgb(240, 55, 166)) rgb(108, 14, 224);
}
#section5>.content{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}
#section5>.content>h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
}
#section5>.button{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}
#section5>.button>button{
    height: 45px;
    width: 190px;
    border-radius: 50px;
    border: none;
    margin-top: 30px;
    font-weight: bold;
}
#section5>.button>button:hover{
    cursor: pointer;
    transform: scale(1.03);
}
#footer{
    height: 75vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer>.inside{
    height: 85%;
    width: 80%;
}
#footer>.inside>.top{
    height: 80%;
    width: 100%;
    display: flex;
}
#footer>.inside>.top>.div1{
    height: 100%;
    width: 18%;
}
#footer>.inside>.top>.div1>svg{
    margin-top: 70px;
    margin-left: 40px;
    width: 58%;
    fill: white;
}
#footer>.inside>.top>.div2{
    height: 100%;
    width: 18%;
    color:white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
#footer>.inside>.top>.div2>.a{
    letter-spacing: 1px;
    margin-top: 90px;
}
#footer>.inside>.top>.div2>.b,.c,.d{
    margin-top: 20px;
    letter-spacing: 1px;
}
#footer>.inside>.top>.div2>.b:hover{
    cursor: pointer;
    color: rgb(50, 157, 50);
}
#footer>.inside>.top>.div2>.c:hover{
    cursor: pointer;
    color: rgb(50, 157, 50);
}
#footer>.inside>.top>.div2>.d:hover{
    cursor: pointer;
    color: rgb(50, 157, 50);
}
#footer>.inside>.top>.div3{
    height: 100%;
    width: 18%;
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
#footer>.inside>.top>.div3>.a{
    letter-spacing: 1px;
    margin-top: 90px;
}
#footer>.inside>.top>.div3>.b,.c,.d,.e,.f{
    margin-top: 20px;
    letter-spacing: 1px;
}
#footer>.inside>.top>.div3>.b:hover{
    cursor: pointer;
    color: rgb(50, 157, 50);
}
#footer>.inside>.top>.div3>.c:hover{
    cursor: pointer;
    color: rgb(50, 157, 50);
}
#footer>.inside>.top>.div3>.d:hover{
    cursor: pointer;
    color: rgb(50, 157, 50);
}
#footer>.inside>.top>.div3>.e:hover{
    cursor: pointer;
    color: rgb(50, 157, 50);
}
#footer>.inside>.top>.div3>.f:hover{
    cursor: pointer;
    color: rgb(50, 157, 50);
}
#footer>.inside>.top>.div4{
    height: 100%;
    width: 18%;
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
#footer>.inside>.top>.div4>.a{
    letter-spacing: 1px;
    margin-top: 90px;
}
#footer>.inside>.top>.div4>.b,.c,.d{
    margin-top: 20px;
    letter-spacing: 1px;
}
#footer>.inside>.top>.div4>.b:hover{
    cursor: pointer;
    color: rgb(50, 157, 50);
}
#footer>.inside>.top>.div4>.c:hover{
    cursor: pointer;
    color: rgb(50, 157, 50);
}
#footer>.inside>.top>.div4>.d:hover{
    cursor: pointer;
    color: rgb(50, 157, 50);
}
#footer>.inside>.top>.div5{
    height: 100%;
    width: 28%;
    display: flex;
    justify-content:end;
}
#footer>.inside>.top>.div5>.insta{
    margin-top: 78px;
    margin-right: 18px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #222326;
    display: flex;
    justify-content: center;
    align-items: center;

}
#footer>.inside>.top>.div5>.insta>div{
    height: 50%;
    width: 50%;
    background-color: white;
    
}
#footer>.inside>.top>.div5>.insta>div:hover{
    cursor: pointer;
    background-color:rgb(50, 157, 50);  
}
#footer>.inside>.top>.div5>.insta>div>img{
    height: 100%;
    width: 100%;
}
#footer>.inside>.top>.div5>.twi{
    margin-top: 78px;
    margin-right: 18px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #222326;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer>.inside>.top>.div5>.twi>div{
    height: 50%;
    width: 50%;
    background-color: white;
}
#footer>.inside>.top>.div5>.twi>div:hover{
    cursor: pointer;
    background-color:rgb(50, 157, 50);  
}
#footer>.inside>.top>.div5>.twi>div>img{
    height: 100%;
    width: 100%;
}
#footer>.inside>.top>.div5>.fb{
    margin-top: 78px;
    margin-right: 28px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #222326;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer>.inside>.top>.div5>.fb>div{
    height: 50%;
    width: 50%;
    background-color: white;    
}
#footer>.inside>.top>.div5>.fb>div:hover{
    cursor: pointer;
    background-color:rgb(50, 157, 50);  
}
#footer>.inside>.top>.div5>.fb>div>img{
    height: 100%;
    width: 100%;  
}
#footer>.inside>.below{
    height: 20%;
    width: 100%;
    display: flex;
}
#footer>.inside>.below>.left{
    padding-top: 70px;
    width: 89%;
}  
#footer>.inside>.below>.left>a{
    text-decoration: none;
    color: #919496;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
    font-size:x-small;
    font-weight: bold;
}
#footer>.inside>.below>.right{
    height: 100%;
    width: 10%;
}
#footer>.inside>.below>.right>.f{
    height: 20%;
    width: 100%;
    margin-top: 40px;
}
#footer>.inside>.below>.right>.f>a{
    text-decoration: none;
    color: #919496;
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-small;
    font-weight: bold;
}
#footer>.inside>.below>.right>.f>a:hover{
    color:rgb(50, 157, 50);  
}
#footer>.inside>.below>.right>.s{
    height: 20%;
    width: 100%;
    margin-top: 20px;
}
#footer>.inside>.below>.right>.s>a{
    text-decoration: none;
    color: #919496;
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-small;
    font-weight: bold;
    letter-spacing: 1px;
    cursor:auto
}